name: Build

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-dotnet@v1
    - name: Install dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --configuration Release --no-restore
    - name: Pack
      run: dotnet pack CodeStyle/CodeStyle.csproj --configuration Release --no-restore --output nupkg
    - name: Test that files are importable by MSBuild
      run: ruby ./scripts/test_files_are_importable_by_msbuild.rb
    - name: Show NuGet package content
      run: unzip -l nupkg/*.nupkg
